.reservation{
    text-align: center;
    padding-top: 1px;
    padding-bottom: 85px;
    background-color: rgba(229, 229, 229, 0.57)
    }
    h3{
    margin-top: 50px;
    font-size: 35px;
    }
    p{
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    }
    button{
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    margin: 5% 1% -3% 1%;
    border: none;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 6px lightgrey;
    transition: all 1s;
    }
    button:hover{
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 10px gray;
    }

