.restaurants{
    background-color: rgba(229, 229, 229, 0.57);
    margin-top: 80px;
    h2{
        padding: 50px 0px 0px 20px; 
        font-size: 30px;
    }
    h3{
        font-size: 130%;
        margin: 10% 1% 5% 4%;
    }
    .liste_carte{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 75px;
    }  
    article{
        display: flex;
        flex-direction: column;
        border: 0px solid white;
        margin:0% 4% 0% 4%;
        
        background-color: white;
        border-radius: 15px;
        height: 305px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    span{
        position: absolute;
        margin-left: 71%;
        margin-top: 5%;
        color: #2d735c;
        border: 0px solid;
        background-color: #99e2d0;
        font-size: 19px;
        padding: 6px;
        border-radius: 3px;
        }
    }

    .image{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        height: 80%;
        object-fit: cover;
        margin-bottom: -30px;
        position: relative;
    }
    div{
        position: relative;
    }
    p{
        margin: -4% 1% 3% 4%;
        font-size: 125%;
    }
    .coeur{
        position: absolute;
        margin: -13% 1% 0% 88%;
    }
    .coeur:hover{
        color: red;
    }
    

 


  

